{% extends 'auth.html.twig' %}

{% block card %}
    <div class="card mb-4 mx-4">
        <div class="card-body p-4">
            <h1>Reset</h1>
            <p class="text-medium-emphasis">Reset request password</p>
            {{ form_start(form) }}
            <div class="input-group mb-3">
                <span class="input-group-text">
                    <svg class="icon"><use xlink:href="{{ asset('build/coreui/icons/svg/free.svg#cil-envelope-open') }}"></use></svg>
                </span>
                {{ form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder': 'E-mail'}}) }}
            </div>
            <button class="btn btn-block btn-primary" type="submit">Reset</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}


