{% if status == 'active' %}
    <span class="badge bg-success">active</span>
{% elseif status == 'wait' %}
    <span class="badge bg-warning">waiting</span>
{% elseif status == 'block' %}
    <span class="badge bg-danger">blocked</span>
{% endif %}