{% extends 'base.html.twig' %}

{% block body %}
<div class="bg-light min-vh-100 d-flex flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-5 col-lg-6 col-10">
                <div class="card-group d-block d-md-flex row">
                    {% block card %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}