@import '~@coreui/coreui/scss/coreui';

.facebook-button{
  background-color: #3b5998;
  border-color: #3b5998;
  &:hover{
    background-color: #3b5998;
    border-color: #3b5998;
  }
}

html:not([dir=rtl]) .wrapper {
  padding-left: var(--cui-sidebar-occupy-start,0);
}

.wrapper{
  width: 100%;
  will-change: auto;
  transition: padding .15s;
}

.btn-small-icon{
  padding: ($btn-padding-y / 2) ($btn-padding-x / 2)
}

.card.all-users .filter{
  input, select{
    width: unset;
  }
  input[type=submit], a{
    margin-bottom: 2px;
  }
}

.simplebar-content .nav{
  display: block;
  flex-wrap: initial;
}

.color-green{
  color: $green;
}

html body .task_priority .icon:not(.icon-c-s):not(.icon-custom-size){
  width: 0.7em;
}

.task_priority{
  display: flex;
  align-content: flex-start;
  .square{
    display: inline-block;
    width: 0.7em;
    height: 0.7em;
    border: 1px;
    border-radius: 1px;
    margin-right: 2px;
  }
}

.sortable_link{
  display: flex;
}

.form-error-icon.badge.badge-danger {
  background: $warning-base;
}