@import '~@coreui/coreui/scss/coreui';

.facebook-button{
  background-color: #3b5998;
  border-color: #3b5998;
  &:hover{
    background-color: #3b5998;
    border-color: #3b5998;
  }
}

html:not([dir=rtl]) .wrapper {
  padding-left: var(--cui-sidebar-occupy-start,0);
}

.wrapper{
  width: 100%;
  will-change: auto;
  transition: padding .15s;
}

.btn-small-icon{
  padding: ($btn-padding-y / 2) ($btn-padding-x / 2)
}

.card.all-users .filter{
  input, select{
    width: unset;
  }
  input[type=submit], a{
    margin-bottom: 2px;
  }
}

.simplebar-content .nav{
  display: block;
  flex-wrap: initial;
}

.color-green{
  color: $green;
}